.App {
  text-align: center;
}
body{
  background-image: url(face.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:90vh;
  background-color: #478ed8;
}

.crossed {
  text-decoration: line-through 2px #00005C;
  background-color: #f0f0f0;
  background-color: antiquewhite;
  width: 30%;
  margin-left: 420px;
  border-radius: 5px;
}

img{
  border-radius: 10px;
}
ul, li {
  list-style-type: none;
  padding: 5px;
  margin:5px;
 
}

button{
  width: 21%;
  height: 30px;
  margin-top: 20px;
  font-family: 'DM Serif Display', serif;
  background-color: #C060A1;
  text-decoration-color: #00005C;
  border-radius: 5px;
  border: none;
}
input{
  width: 20%;
  height: 25px;
  margin-top: 30px;
  font-family: 'DM Serif Display', serif;
  border-radius: 5px;
}

h1{
  font-family: 'DM Serif Display', serif;
  color: #00005C;
}